body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.my_navbar {
  background-color: green;
  border-radius: 10px 30px;
  border-style: inset;
  border-top-width: 7px;
  border-left-width: 5px;
}

.my_navbar_font {
  color: darkgray !important;
  font-weight: 1000 !important;
}

.my_navbar_font:hover {
  transform: scale(1.1);
  color: #ffffff !important;
}